@keyframes translateLoop1 {
  from {transform: translate3d(0px, 100%, 0px);}
  to {transform: translate3d(0px, 0px, 0px);}
}
@keyframes translateLoop2 {
  from {transform: translate3d(0, 0, 0);}
  to {transform: translate3d(0, -70%, 0);}
}
@keyframes scaleLoop1 {
  from {transform: scale3d(1, 1, 1);}
  to {transform: scale3d(1.5, 2, 1);}
}
@keyframes skewLoop1 {
  from {transform: skew(0deg);}
  to {transform: skew(30deg, 20deg);}
}
@keyframes rotateLoop1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(30deg);}
}
@keyframes floatLoop1 {
	0% {
		box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17), 0 2px 4px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17), 0 6px 6px 0px rgba(0,0,0,0.2);
		transform: translatey(-4px);
	}
	100% {
		box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17), 0 2px 4px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}