.boxLoader .loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxLoader .box {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
    margin: 5px;
    border: 15px solid #fff;
    border-radius: 3px;
    opacity: 0;
    box-shadow: inset 2px 2px 2px 0px #00000057, 1px 1px 2px 0px #00000057;
}

.boxLoader .box_1 {
    border-color: #ff844a;
    z-index: 3;
    animation: animateBoxLoaderPosition 4.5s ease-in-out infinite, animateBoxLoaderOpacity .25s ease-in-out forwards;
}

.boxLoader .box_2 {
    border-color: #ffdf62;
    z-index: 2;
    animation: animateBoxLoaderPosition 4.5s ease-in-out 1.5s infinite, animateBoxLoaderOpacity 1s ease-in-out .25s forwards;
}

.boxLoader .box_3 {
    border-color: #7de2af;
    z-index: 1;
    animation: animateBoxLoaderPosition 4.5s ease-in-out 3s infinite, animateBoxLoaderOpacity 1s ease-in-out 1.75s forwards;
}

@keyframes animateBoxLoaderOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animateBoxLoaderPosition {
  
    0% {
      top: 0;
      left: 0;
      right: 50%;
      bottom: 50%;
    }
    6.25% {
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;
    }
    12.5%, 18.75%, 25% {
      top: 0;
      left: 50%;
      right: 0;
      bottom: 50%;
    }
    31.25% {
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
    }
    37.5%, 43.75%, 50% {
      top: 50%;
      left: 50%;
      right: 0;
      bottom: 0;
      opacity: 1;
    }
    56.25% {
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
    }
    62.5%, 68.75%, 75% {
      top: 50%;
      left: 0;
      right: 50%;
      bottom: 0;
      opacity: 1;
    }
    81.25% {
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      opacity: 1;
    }
    87.5%, 93.75%, 100% {
      top: 0;
      left: 0;
      right: 50%;
      bottom: 50%;
      opacity: 1;
    }
  }